<div id="<%= dom_id character %>">

  <h1>
    <%= character.first_name %> <%= character.last_name %> (<%= character.read_attribute_before_type_cast('pronoun') %>)
  </h1>

  <h2><%= character.occupation %></h2>

  <h3>
    <strong>Age:</strong>
    <%= character.age %>
  </h3>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Attributes</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <strong>Hp:</strong>
          <%= character.hp %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Mp:</strong>
          <%= character.mp %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Mov:</strong>
          <%= character.mov %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <strong>Str:</strong>
          <%= character.str %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Con:</strong>
          <%= character.con %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Siz:</strong>
          <%= character.siz %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <strong>Dex:</strong>
          <%= character.dex %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>App:</strong>
          <%= character.app %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Pow:</strong>
          <%= character.pow %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <strong>Edu:</strong>
          <%= character.edu %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Luck:</strong>
          <%= character.luck %>
        </p>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <p>
        <strong>Damage bonus:</strong>
        <%= character.damage_bonus %>
      </p>
    </div>

    <% count = 1 %>
<% new_row = true %>
<div>
  <div class="row">
    <h4>Skills</h4>
  </div>
  <% @skill_names.each_with_index do |skill_name, i| %>
    <% if new_row == true %>
      <% new_row = false %>
      <div class="row">
        <div class="col col-md-2">
          <p><%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%</p>
        </div>
    <% elsif (i + 1) % 5 == 0 %>
      <% new_row = true %>
        <div class="col col-md-2">
          <p><%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%</p>
        </div>
      </div>

    <% else %>
      <div class="col col-md-2">
        <p><%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%</p>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
  
  </div>


</div>
