<div id="<%= dom_id character %>">

  <p>
    <%= character.first_name %> <%= character.last_name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= character.occupation %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= character.age %>
  </p>

  <p>
    <strong>Str:</strong>
    <%= character.str %>
  </p>

  <p>
    <strong>Con:</strong>
    <%= character.con %>
  </p>

  <p>
    <strong>Siz:</strong>
    <%= character.siz %>
  </p>

  <p>
    <strong>Dex:</strong>
    <%= character.dex %>
  </p>

  <p>
    <strong>App:</strong>
    <%= character.app %>
  </p>

  <p>
    <strong>Pow:</strong>
    <%= character.pow %>
  </p>

  <p>
    <strong>Edu:</strong>
    <%= character.edu %>
  </p>

  <p>
    <strong>Luck:</strong>
    <%= character.luck %>
  </p>



  <p>
    <strong>Damage bonus:</strong>
    <%= character.damage_bonus %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= character.hp %>
  </p>

  <p>
    <strong>Mov:</strong>
    <%= character.mov %>
  </p>

  <p>
    <strong>Pronoun:</strong>
    <%= character.pronoun %>
  </p>

  <p>
    <strong>Mp:</strong>
    <%= character.mp %>
  </p>

</div>
