<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  
  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age, { min: 18, max: 99 } %>
  </div>



  <div>
    <%= form.label :pronoun, style: "display: block" %>
    <%= form.select :pronoun, Character.pronouns.values %>
  </div>


  <div>
    <%= form.label :occupation_id, style: "display: block" %>
    <%= form.select :occupation_id, Occupation.all.collect { |o| [o.name, o.id]}, include_blank: true %>
    
  </div>

  <div>
    <%= form.fields_for :characters_campaign do |cc| %>
      <%= cc.label :characters_campaign_id %>
      <%= cc.select :characters_campaign_id, Campaign.where(user_id: current_user.id).collect { |c| [c.name, c.id] }, include_blank: true %>
    <% end %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
