<p style="color: green"><%= notice %></p>

<h1>My Characters</h1>


<table class="table">
  <tr>
    <th>Name</th>
    <th>Occupation</th>
    <th>Campaign</th>
  </tr>
  <% @characters.each do |character| %>
    <tr>
      <td>
        <%= link_to "#{character.first_name} #{character.last_name}", character_path(character) %>
      </td>
      <td>
        <%= character.occupation %>
      </td>
      <% if character.campaigns != [] %>
        <td>
          <%= link_to "#{character.campaigns.first.name}", campaign_path(character.campaigns.first) %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to "New character", new_character_path %>
