<p style="color: green"><%= notice %></p>

<%= render @character %>

<div>
  <%= link_to "Edit this character", edit_character_path(@character) %> |
  <%= link_to "Back to characters", characters_path %>

  <%= button_to "Destroy this character", @character, method: :delete %>
</div>

<ul>
  <% Skill.column_names.each do |skill_name| %>
    <% if skill_name != "character_id" && skill_name != "created_at" && skill_name != "updated_at" && skill_name != "id" %>
      <li><%= skill_name %>: <%= @character.skill[skill_name] %></li>
    <% end %>
  <% end %>
</ul>

