<p style="color: green"><%= notice %></p>

<%= render @character %>

<% count = 1 %>
<% new_row = true %>
<div>
  <div class="row">
    <h4>Skills</h4>
  </div>
  <% @skill_names.each_with_index do |skill_name, i| %>
    <% if new_row == true %>
      <% new_row = false %>
      <div class="row">
        <div class="col col-md-2">
          <%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%
        </div>
    <% elsif (i + 1) % 5 == 0 %>
      <% new_row = true %>
        <div class="col col-md-2">
          <%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%
        </div>
      </div>

    <% else %>
      <div class="col col-md-2">
        <%= skill_name.split("_").join(" ") %>: <%= @character.skill[skill_name] %>%
      </div>
    <% end %>
  <% end %>
  </div>
</div>


<div>
  <%= link_to "Edit this character", edit_character_path(@character) %> |
  <%= link_to "Back to characters", characters_path %>

  <%= button_to "Destroy this character", @character, method: :delete %>
</div>

