<p style="color: green"><%= notice %></p>

<h1><%= @campaign.name %></h1>

<h3>Characters In This Campaign</h3>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Occupation</th>
  </tr>
  <% @campaign.characters.each do |character| %>
    <tr>
      <td>
        <%= link_to "#{character.first_name} #{character.last_name}", character_path(character) %>
      </td>
      <td>
        <%= character.occupation %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Other Characters</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Occupation</th>
  </tr>
  <%  @other_characters.each do |character| %>
    <tr>
      <td>
        <%= link_to "#{character.first_name} #{character.last_name}", character_path(character) %>
      </td>
      <td>
        <%= character.occupation %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "Edit this campaign", edit_campaign_path(@campaign) %> |
  <%= link_to "Back to campaigns", campaigns_path %>

  <%= button_to "Destroy this campaign", @campaign, method: :delete %>
</div>
